{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
  </head>
  <body>
    <div class="container regi_container">
      <div class="regi_logo">
        BACK<br />
        STREET
      </div>
      <div class="regi_page">REGISTER</div>

      <div class="regi_card">
        <p>
          카페 사장님이시라면?<br />
          여기로 🙋‍♀️🙋‍♂️
        </p>
        <a href="{% url 'regi' %}">사장님 시작하기</a>
      </div>
      <div class="regi_card">
        <p>준비중! <br />금방 올게요!😂😂</p>
        <a href="#">사용자 시작하기</a>
      </div>
    </div>
  </body>
</html>
