{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
</head>

<body>
    <div class="container regi_container">
        <div class="regi_card">
        <div class="regi_logo">
            BACK<br />
            STREET
            <div class="regi_page">LOGIN</div>

        </div>

            <form action="{% url 'login' %}" method="POST" class="regi-input">
                {% csrf_token %}
                <input type="text" placeholder="아이디 또는 이메일" name="username" id="input-box">
                <input type="password" placeholder="비밀번호" name="password" id="input-box"><br>
                <input type="submit" value="로그인" id="input-btn">
            </form>
            <div class="regi-text"><a href="{% url 'choice_registration' %}">
                아직 회원이 아니신가요?<br>회원가입</a>
            </div>
            <div id="login_fail_message">
            {{message}}
            </div>
        </div>
        <div></div>

</body>

</html>