{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/cafe.css' %}" />
</head>

<body>
  <div class="container cafelist">

    <header>
      <div id="nav">
        <a href="{% url 'map' %}">

          <image src="/static/map.png" class="mapbtn"></image>

        </a>
        <a href="{% url 'store_list' %}">

          <image src="/static/list.png"></image>

        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'mypage' %}">


          <image src="/static/user2.png" class="userbtn"></image>

        </a>
        {% else %}
        <a href="{% url 'login' %}">


          <image src="/static/user2.png" class="userbtn"></image>

        </a>
        {% endif %}
      </div>
    </header>
    <form method="POST" action="{% url 'search' %}">
      {%csrf_token%}
      <div class="search">
        <div class="search-bar-wrapper">
          <input type="text" id="search-bar" placeholder="카페를 검색해주세요" name="search" value="{{search}}">
          <input type="image" src="{% static 'search.png'%}" id="search-btn"></image>

        </div>
      </div>
    </form>
    <div class="cafe_card_wrapper">
      <div class="cafe_card_filter">
        <span>거리순 |</span>
        <span>관심순 |</span>

        <span>소식순</span>
      </div>
      {% for one_store in all_store %}

      <a href="{% url 'store_detail' one_store.id%}">
        <div class="cafe_card_img">
          <img src='{{one_store.image.url}}'>
        </div>
        <div class="cafe_card_content_wrap">
          <!-- 카페 스토리 : 일단 보류 -->
          <!-- <div class="cafe_card_story">
            <img src='{{one_store.story}}'>
          </div> -->

          <div class="cafe_card_content">
            <div class="cafe_card_title">{{one_store}}</div>
            <div class="cafe_card_loc">📌{{one_store.address}}<br>
            </div>

            <div class="cafe_card_time">⏰{{one_store.open_time}}<br>
            </div>
          </div>

          <div class="cafe_card_like">
            <a href="{% url 'like_toggle' one_store.id %}">
              {% if one_store in user.likes.all %}
              X:{{one_store.like_count}}
              {% else %}
              ♡:{{one_store.like_count}}
              {% endif %}
            </a>
          </div>

        </div>
      </a>
      {%endfor%}
    </div>

  </div>

</body>

</html>