{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/cafe.css' %}" />
</head>

<body>
  <div class="container cafelist">
    <div class="cafe_card_wrapper">
      <div class="cafe_card_filter">
        <span>거리순 |</span>
        <span>관심순 |</span>

        <span>소식순</span>
      </div>
      {% for one_store in all_store %}
      <a href="{% url 'store_detail' one_store.id%}">
        <div class="cafe_card_img">
          <img src='{{one_store.image.url}}'>
        </div>
        <div class="cafe_card_content_wrap">
          <div class="cafe_card_story">
            <img src='{{one_store.story}}'>
          </div>
          <div class="cafe_card_content">
            <div class="cafe_card_title">{{one_store}}</div>
            <div class="cafe_card_loc">📌{{one_store.address}}<br>
            </div>

            <div class="cafe_card_time">⏰{{one_store.open_time}}<br>
            </div>
          </div>
          <div class="cafe_card_like">♡10</div>
        </div>
      </a>


      {%endfor%}
    </div>
  </div>
</body>

</html>