{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cafe.css' %}" />
  </head>
  <body>
    <div class="container cafelist">
      <header class="detail_header">
        <img
          src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA0MTJfMjI4%2FMDAxNTIzNTA4MzI5Mzk5.Wne5k2zYsO-yFwgwR3ChTBLvHw5-nvrrT4StwxBb0Vog.DTcJPlqEi8DjOMtjNexSo9rL95lJvBN4X3-SGXUhpeYg.JPEG.ajing25%2F20180410_203148.jpg"
        />
        <div class="detail_header_info_wapper">
          <div class="cafe_card_story">
            <img
              src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=http%3A%2F%2Fblogfiles.naver.net%2F20140329_99%2Fjijeey_1396076275434aRIjh_JPEG%2FKakaoTalk_51bb4ff86c79df78.jpg"
            />
          </div>
          <div class="cafe_card_title">{{one_store}}</div>
          <div class="cafe_card_like">
            <a href="{% url 'like_toggle' one_store.id %}">
              {% if one_store in user.likes.all %}
              X:{{one_store.like_count}}
              {% else %}
              ♡:{{one_store.like_count}}
              {% endif %}
            </a>
          </div>
        </div>
      </header>
      <div class="detail_title">INFORMATION</div>
      <div class="detail_info_wrapper">
        <div class="detail_info_row">
          <div class="detail_info_icon"></div>
          <p class="detail_info_text">
            {{one_store.address}}<br />
            <span class="detail_info_subtext">{{one_store.open_time}}</span>
          </p>
        </div>
        <div class="detail_info_row">
          <div class="detail_info_icon"></div>
          <p class="detail_info_text">"{{one_store.Info}}"</p>
        </div>
        <div class="detail_info_row">
          <div class="detail_info_icon"></div>
          <div class="menu">Popular Menu
            <img class="arrow" src="/static/arrow.png" >
          </div>
          
        </div>
        <div class="detail_info_menu">
        {%for menu in one_store.menu_set.all %}
        <div class="one_menu">
          {{menu.store_menu }}
        </div>
        {% endfor %}
        </div>
        <div class="detail_info_row">
          <div class="detail_info_icon"></div>
          <p class="detail_info_text">{{one_store.more_info}}</p>
        </div>
      </div>

     

      <div class="detail_story_wrapper">
        <p>STORY</p>
        <div class="detail_story_item">
          <img
            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA1MTFfMjU4%2FMDAxNTI2MDE3MjY1Nzgy.-vMu-iXbewOfkRSBs5W2Os9tgxcGt6HQbwyLSNS5_ncg.PUklUIOszp1xykNX6rZkYkOXJJ8-pbuv38QK0DZrbCsg.JPEG.always918%2FIMG_4021.jpg"
          />
        </div>
        <div class="detail_story_item">
          <img
            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA1MTFfMjU4%2FMDAxNTI2MDE3MjY1Nzgy.-vMu-iXbewOfkRSBs5W2Os9tgxcGt6HQbwyLSNS5_ncg.PUklUIOszp1xykNX6rZkYkOXJJ8-pbuv38QK0DZrbCsg.JPEG.always918%2FIMG_4021.jpg"
          />
        </div>
        <div class="detail_story_item">
          <img
            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA1MTFfMjU4%2FMDAxNTI2MDE3MjY1Nzgy.-vMu-iXbewOfkRSBs5W2Os9tgxcGt6HQbwyLSNS5_ncg.PUklUIOszp1xykNX6rZkYkOXJJ8-pbuv38QK0DZrbCsg.JPEG.always918%2FIMG_4021.jpg"
          />
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
    </script>
    <script>
      $('.arrow').click(function(){
        $('.detail_info_menu').slideToggle();
      });

    </script>
  </body>
</html>
